<div class="row row-gap-3 justify-content-center">
  <a
    href="/gallery-<%= prevPageNum %>"
    class="col btn gallery-paginate-link <%= currentPageNum == 1 ? 'disabled' : '' %>"
    >Previous</a
  >

  <% for(var i = 1; i <= maxPageNum; i++ ) { %>
  <a
    href="/gallery-<%= i %>"
    class="col btn gallery-paginate-link <%= currentPageNum == i ? 'active' : 'solid-btn' %>"
    ><%= i %></a
  >
  <% } %>

  <a
    href="/gallery-<%= nextPageNum %>"
    class="col btn gallery-paginate-link <%= currentPageNum == maxPageNum ? 'disabled' : '' %>"
    >Next</a
  >
</div>
