<div class="row row-gap-3 justify-content-center">
  <a
    href="<%= prevPage %>"
    class="col btn search-paginate-link <%= currentPage == 1 ? 'disabled' : '' %>"
  >
    Previous
  </a>

  <% if (maxNumPages <= 10) { %> <% for(var i = 1; i <= maxNumPages; i++ ) { %>
  <a
    href="/search/page-<%= i %>/<%= req.query.s %>"
    class="col btn search-paginate-link <%= currentPage == i ? 'active' : 'solid-btn' %>"
  >
    <%= i %>
  </a>

  <% } %> <% } else { %> <% for(var i = currentPage; i <= (currentPage + 10);
  i++ ) { %> <% while (i <= maxNumPages) { %>
  <a
    href="/search/page-<%= i %>/<%= req.query.s %>"
    class="col search-paginate-link <%= currentPage == i ? 'active' : 'solid-btn' %>"
  >
    <%= i %>
  </a>
  <% } %> <% } %> <% } %>

  <a
    href="<%= nextPage %>"
    class="col btn search-paginate-link <%= currentPage == maxNumPages ? 'disabled' : '' %>"
  >
    Next
  </a>
</div>
