<div
  class="justify-content-center search-paginate-container <%= maxNumPages == 1 ? 'hidden' : '' %>"
>
  <% if (currentPage == 1) { %>
  <a href="" class="hidden"></a>
  <% } else { %>
  <a
    href="/search/page-<%= currentPage - 1 %>/?s=<%= searchPhrase %>"
    class="btn search-paginate-link solid-btn"
    >Previous</a
  >
  <% } %>

  <a
    href="/search/page-<%= currentPage %>/?s=<%= searchPhrase %>"
    class="btn search-paginate-link active"
  >
    <%= currentPage %>
  </a>

  <a
    href="/search/page-<%= currentPage + 1 %>/?s=<%= searchPhrase %>"
    class="btn search-paginate-link <%= currentPage + 1 > maxNumPages ? 'hidden' : 'solid-btn' %>"
  >
    <%= currentPage + 1 %>
  </a>

  <a
    href="/search/page-<%= currentPage + 2 %>/?s=<%= searchPhrase %>"
    class="btn search-paginate-link <%= currentPage + 2 > maxNumPages ? 'hidden' : 'solid-btn' %>"
  >
    <%= currentPage + 2 %>
  </a>

  <a
    href="/search/page-<%= currentPage + 3 %>/?s=<%= searchPhrase %>"
    class="btn search-paginate-link <%= currentPage + 3> maxNumPages ? 'hidden' : 'solid-btn' %>"
  >
    <%= currentPage + 3 %>
  </a>

  <a
    href="/search/page-<%= currentPage + 4 %>/?s=<%= searchPhrase %>"
    class="btn search-paginate-link <%= currentPage + 4 > maxNumPages ? 'hidden' : 'solid-btn' %>"
  >
    <%= currentPage + 4 %>
  </a>

  <a
    href="/search/page-<%= currentPage + 5 %>/?s=<%= searchPhrase %>"
    class="btn search-paginate-link <%= currentPage + 5 > maxNumPages ? 'hidden' : 'solid-btn' %>"
  >
    <%= currentPage + 5 %>
  </a>

  <a
    href="<%= currentPage + 6 %>/?s=<%= searchPhrase %> "
    class="btn search-paginate-link <%= currentPage + 6 > maxNumPages ? 'hidden' : 'solid-btn' %>"
    >Next</a
  >
</div>
