<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', { pageTitle: 'Page Not Found' }) %>

<body>
    <header id="navigation">
        <%- include('includes/navbar') %>

        <%- include('includes/slides') %>
    </header>

    <section id="404-container">
        <h3>404</h3>
        <p>Page Not Found</p>
        <br />
    </section>

    <%- include('includes/menu') %>

    <%- include('includes/connect') %>

    <%- include('includes/foot') %>
</html>