<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { pageTitle: 'Page Not Found' }) %>

  <body>
    <header id="navigation">
      <%- include('includes/navbar') %>
      <br />
      <%- include('includes/slides') %>
    </header>

    <section id="404-container">
      <h3>404</h3>
      <p>Page Not Found</p>
      <br />
    </section>

    <%- include('includes/menu', { section: '404' }) %>
    <br />
    <%- include('includes/connect') %>
    <br />
    <%- include('includes/foot') %>
  </body>
</html>
