<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { pageTitle: 'Gallery - Marianne Dillard' }) %>

  <body>
    <header id="navigation">
      <%- include('includes/navbar') %>
      <br />
      <%- include('includes/slides') %>
    </header>

    <section id="gallery-hero">
      <div class="container mb-4 p-5 text-center" id="gallery-hero-container">
        <h2>Gallery</h2>
        <p>
          One of my hobbies and joys of life is traveling to experience new
          people, cultures, and sceneries. Please enjoy some pictures from my
          travels. I’m excited for the future and all the possibilities for
          adventure. I plan to expand this collection as my journey continues.
        </p>
      </div>
    </section>

    <section id="gallery-cards">
      <%# Loop to show 9 gallery cards by date %>
      <br />
      <%- include('includes/gallery-card', {image: image}) %>
      <br />
      <%# Code for gallery pagination %>
    </section>

    <%- include('includes/menu', { section: 'gallery' }) %>
    <br />
    <%- include('includes/connect') %>
    <br />
    <%- include('includes/foot') %>
  </body>
</html>
