<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { pageTitle: pageTitle }) %>

  <body>
    <header id="navigation">
      <%- include('includes/navbar') %> <%- include('includes/slides') %>
    </header>

    <section id="search-results-cards">
      <%# Loop through search results by keywords %>
      <br />
      <%- include('includes/search-card', { result: result }) %>
    </section>

    <section class="p-4" id="menu">
      <%- include('includes/menu', { section: 'search' }) %>
    </section>

    <section class="pt-5" id="contact-me">
      <%- include('includes/connect') %>
    </section>

    <%- include('includes/foot') %>
  </body>
</html>
